{% extends 'base.html.twig' %}

{% block title %}Ajouter un utilisateur{% endblock %}

{% block body %}
    <section>
        <div>
            {{ form_start(userForm) }}
            {{ form_widget(userForm) }}
            <button>Ajouter un utilisateur</button>
            {{ form_end(userForm) }}
        </div>
    </section>
{% endblock %}