{% extends 'base.html.twig' %}

{% block title %}Admin panel{% endblock %}

{% block body %}
    <article class="container">
        <div><h1>Admin Panel</h1></div>
        <div class="card-container">
            <div><a href="{{ path('admin_add') }}" class="card">Ajouter un membre</a></div>
            <div><a href="{{ path('admin_manage') }}" class="card">Gérer les membres</a></div>
            <div><a href="{{ path('admin_addCity') }}" class="card">Ajouter une ville</a></div>
            <div><a href="{{ path('admin_addCampus') }}" class="card">Ajouter un campus</a></div>
        </div>


    </article>
{% endblock %}

