{% extends 'base.html.twig' %}

{% block title %}Hello AjoutLieuController!{% endblock %}

{% block body %}

{{ form_start(form) }}
{{ form_widget(form) }}
    <button  >Ajouter lieu</button>
{{ form_end(form) }}
{% endblock %}
