{% extends 'base.html.twig' %}
{%  block title  %}
    Modifier une sortie | Parent
{% endblock %}

{% block body %}
    <h1>Modifier une sortie</h1>

    {{ form_start (createForm) }}

    {{ form_widget (createForm) }}


    <div class ="btn-group" role="group" aria-label ="Actions">
        <button type ="submit" class ="btn btn-primary">Enregistrer</button>
        <button type ="submit" class="btn btn-success" name="publish">Publier la sortie</button>

        <button  type="submit" class =btn-secondary" name="cancel">Annuler</button>

    </div>

    {{ form_end(createForm) }}


{% endblock %}