{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}
    {{ form_start(passwordForm) }}
    {{ form_widget(passwordForm) }}
    <button>Modifier mdp</button>
    {{ form_end(passwordForm) }}
{% endblock %}